.main_container {
  width: 100%;
  float: left;
  background-color: #fefefe;
  padding-top: 20px;
  box-shadow: 0 0 55px 45px #fefefe;
}

.card {
  background-color: white;
  color: red;
  padding: 2rem;
  box-shadow: 0 0 3px 3px silver;
}

.cards {
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.product_img {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
  min-height: 330px;
}

.product_name {
    width: 100%;
    font-size: 12px;
    color: #30302e !important;
    text-align: center;
    font-weight: bold !important;
    padding-bottom: 5px;
}

.price_text {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    text-align: center;
    margin: 0px;
}

.price_amount {
   color: #262626;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
